body {  
  background-image: linear-gradient(
    /* 135deg, */
    rgb(120, 43, 188) 15%,
    rgb(203, 62, 228) 52%,
    rgb(120, 43, 188) 89%
  ) !important; 
} 

.ui.inverted.top.fixed.menu {
  /* background-image: linear-gradient(45deg,rgb(120, 43, 188) 15%, rgb(203, 62, 228) 52%, rgb(112, 112, 238) 89%) !important; */
  background-image: linear-gradient(45deg,rgb(120, 43, 188) 100%, rgb(203, 62, 228) 0%, rgb(112, 112, 238) 0%) !important; 

}

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) !important;
}

/* Home page style */
 .masthead {
  display: flex; 
  align-items: center;
  
  background-image: linear-gradient(
    /* 135deg, */
    rgb(120, 43, 188) 15%,
    rgb(203, 62, 228) 52%,
    rgb(112, 112, 238) 89%
  ) !important; 
  /* Viewport Height */
  height: 100vh;
} 